.Footer--email {
  background-image: url("../images/icons/email.svg");
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding-left: 28px;
}

.Footer--phone {
  background-image: url("../images/icons/phone.svg");
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding-left: 28px;
}

.Footer--signup {
  background-image: url("../images/icons/pencil.svg");
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding-left: 28px;
}
