.Header {
  background-color: $white;
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  @include breakpoint(medium) {
    background-color: transparent;
    height: 100%;
    pointer-events: none;
    width: 100%;
  }
}

.Header-inner {
  height: 60px;
  padding: 10px 20px;
  position: relative;

  @include breakpoint(medium) {
    height: 100%;
    padding: 60px;
  }
}

.Header-title {
  height: 40px;

  > img {
    height: 40px;
  }

  @include breakpoint(medium) {
    left: 60px;
    position: absolute;
    // text-transform: uppercase;
    top: calc(100% - 60px);
    transform: rotate(-90deg);
    transform-origin: top left;
    width: calc(100vh - 120px);

    > img {
      display: block;
      height: auto;
      width: 100%;
    }
  }
}
