/* ==========================================================================
   Base styles - Scaffolding
   ========================================================================== */


html {

}

body {
  color: $black;
  font-family: $acumin;
  font-size: 16px;
  font-weight: $regular;
  line-height: 1.5;

  @include breakpoint(large) {
    font-size: 18px;
  }

  &.isNavOpen {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $regular;
}

strong {
  font-weight: $bold;
}

p {
  margin-bottom: 20px;

  @include breakpoint(large) {
    margin-bottom: 32px;
  }

  > a {
    color: $theme;

    &:hover {
      text-decoration: none;
    }
  }
}

img {
  max-width: 100%;
}

.Container {
  margin-top: 60px;
  min-width: 320px;
  position: relative;
}


/* Links
   ========================================================================== */


/* Images
   ========================================================================== */


/* Links
   ========================================================================== */


/* Clearfix
   ========================================================================== */

