.Section-banner {
  background-position: center;
  background-size: cover;
  height: 240px;

  @include breakpoint(medium) {
    height: 360px;
  }
}

.Section-banner--what {
  background-image: url('../images/grace1.jpg');
}

.Section-banner--why {
  background-image: url('../images/grace2.jpg');
}

.Section-banner--how {
  background-image: url('../images/grace3.jpg');
}

.Section-banner--who {
  background-image: url('../images/grace4.jpg');
}

.Section-container {
  background-color: $white;
  //color: $white;
  padding: 20px;

  @include breakpoint(medium) {
    padding: 40px;
  }

  @include breakpoint(large) {
    padding: 60px;
  }
}

.Section-container--Intro {
  background-color: transparent;
  padding-bottom: 20px;
  padding-top: 20px;

  @include breakpoint(small-only) {
    color: $white;
    left: 0;
    position: absolute;
    top: 108px;
    width: 100%;
  }

  @include breakpoint(medium) {
    color: $black;
    padding-bottom: 40px;
    padding-top: 200px;
  }

  @include breakpoint(large) {
    padding-bottom: 60px;
    padding-top: 240px;
  }

  .Section-title {
    @include breakpoint(small-only) {
      display: none;
    }
  }
}

.Section-title,
.Section-subTitle {
  font-weight: $bold;
  font-size: 28px;
  line-height: 1;
  text-transform: uppercase;
}

.Section-title {
  color: $theme;
}

.Section-header {
  margin-bottom: 20px;
}

.Section-main {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.Section-mainHeader {
  > h1 {
    font-size: 28px;
    font-weight: $xLight;
    line-height: 1;
    margin-bottom: 10px;
  }
}

.Section-intro {
  margin-bottom: 10px;
}

.Section-list {
  list-style: initial;
  padding-left: 20px;

  > li:not(:last-child) {
    margin-bottom: 10px;
  }
}

.Section-points {
  > dt {
    font-size: 20px;
    font-weight: $xLight;
    margin-bottom: 4px;
  }

  > dd {
    margin-bottom: 10px;

    > strong {
      color: $theme;
    }
  }
}

.Section-table {
  @include breakpoint(medium) {
    display: flex;
    flex-direction: row;
  }
}

.Section-tableSection {
  margin-bottom: 20px;

  @include breakpoint(medium) {
    display: flex;
    flex-direction: row;
  }
}

.Section-tableHeading {
  @include breakpoint(small-only) {
    font-size: 20px;
    font-weight: $xLight;
    margin-bottom: 4px;
  }

  @include breakpoint(medium) {

  }
}

.Section-tableMain {

}

.Section-tableCopy {
  margin-bottom: 4px;
}

.Section-tableList {
  list-style: initial;
  padding-left: 20px;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.Section-tableDeliverable {
  color: $theme;
  font-size: 14px;
  font-weight: $bold;
  padding-left: 20px;
}
