.Section-banner {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;

  @include breakpoint(medium) {
    height: 360px;
  }
}

.Section-banner--what {
  background-image: url('../images/grace_group.jpg');
}

.Section-banner--why {
  background-image: url('../images/jessica_working.jpg');

  @media (min-width: 961px) {
    background-position: center right;
    background-size: initial;
  }
}

.Section-banner--how {
  background-image: url('../images/jessica_brag.jpg');
}

.Section-banner--who {
  background-image: url('../images/grace4.jpg');
}

.Section-container {
  background-color: $white;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px;

  @include breakpoint(medium) {
    padding: 40px;
  }

  @include breakpoint(large) {
    padding: 60px 60px 60px 300px;
    position: relative;

    > p {
      padding-right: 240px;
    }
  }
}

.Section-container--Intro {
  background-color: transparent;
  padding-bottom: 20px;
  padding-top: 20px;

  @include breakpoint(small-only) {
    align-items: flex-end;
    color: $white;
    display: flex;
    height: 240px;
    left: 0;
    max-width: 480px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @include breakpoint(medium) {
    color: $black;
    padding-bottom: 40px;
    padding-top: 200px;
  }

  @include breakpoint(large) {
    padding-bottom: 60px;
    padding-left: 60px;
    padding-top: 240px;
  }

  .Section-title {
    @include breakpoint(small-only) {
      display: none;
    }
  }
}

.Section-title,
.Section-subTitle {
  font-weight: $bold;
  font-size: 28px;
  line-height: 1;
  text-transform: uppercase;
}

.Section-title--intro,
.Section-subTitle--intro {
  @include breakpoint(medium) {
    font-size: 32px;
  }
}

.Section-title {
  color: $theme;
}

.Section-header {
  margin-bottom: 20px;

  @include breakpoint(large) {
    left: 60px;
    position: absolute;
    top: 60px;
  }
}

.Section-main {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @include breakpoint(large) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }

    > p {
      padding-right: 240px;

      &:only-child {
        margin-bottom: 0;
      }
    }
  }
}

.Section-mainHeader {
  > h1 {
    font-size: 28px;
    font-weight: $xLight;
    line-height: 1;
    margin-bottom: 10px;

    @include breakpoint(medium) {
      margin-bottom: 20px;
    }

    @include breakpoint(large) {
      margin-bottom: 32px;
    }
  }
}

.Section-intro {
  margin-bottom: 10px;

  @include breakpoint(large) {
    margin-bottom: 16px;
  }
}

.Section-list {
  list-style: initial;
  padding-left: 20px;

  > li:not(:last-child) {
    margin-bottom: 10px;
  }

  @include breakpoint(large) {
    padding-right: 240px;

    > li:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.Section-points {
  @include breakpoint(large) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    padding-right: 240px;
    width: calc(100% + 20px);
  }
}

.Section-point {
  margin-bottom: 10px;

  @include breakpoint(large) {
    align-items: center;
    background-color: $theme;
    color: $white;
    display: flex;
    flex-basis: calc(50% - 20px);
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    padding: 20px;
    text-align: center;

    &:nth-child(-n+2) {
      margin-bottom: 20px;
    }
  }
}

.Section-pointTitle {
  font-size: 20px;
  font-weight: $xLight;
  margin-bottom: 4px;

  @include breakpoint(large) {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}

.Section-pointDesc {
  > strong {
    color: $theme;

    @include breakpoint(large) {
      color: $white;
    }
  }
}

.Section-table {
  @include breakpoint(medium) {
    display: flex;
    flex-direction: row;
  }
}

.Section-tableSection {
  margin-bottom: 20px;

  @include breakpoint(medium) {
    border-color: $white;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    display: flex;
    flex-basis: percentage(1/3);
    flex-direction: column;

    &:first-child {
      border-left-width: 1px;
    }
  }
}

.Section-tableHeading {
  @include breakpoint(small-only) {
    font-size: 20px;
    font-weight: $xLight;
    margin-bottom: 4px;
  }

  @include breakpoint(medium) {
    background-color: $theme;
    border-bottom: 1px solid $white;
    color: $white;
    padding: 10px 20px;
  }
}

.Section-tableMain {
  @include breakpoint(medium) {
    background-color: rgba($black, 0.1);
    flex: 1 1 100%;
    padding: 10px 20px 20px;
  }
}

.Section-tableCopy {
  margin-bottom: 4px;
}

.Section-tableList {
  list-style: initial;
  padding-left: 20px;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.Section-tableDeliverable {
  color: $theme;
  font-size: 14px;
  font-weight: $bold;
  padding-left: 20px;
}

.Section-profileImg {
  display: block;
  margin-bottom: 20px;
  width: 280px;

  @include breakpoint(large) {
    margin-bottom: 32px;
  }
}

.Section-companiesList {
  @include breakpoint(medium) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    width: calc(100% + 20px);
  }
}

.Section-companiesListItem {
  margin-bottom: 10px;

  &:last-child {
    margin: 0;
  }

  @include breakpoint(medium) {
    flex-basis: 25%;
    margin: 0;
    padding: 0 10px;

    &:nth-child(-n+4) {
      margin-bottom: 10px;
    }
  }

  @include breakpoint(large) {
    &:nth-child(-n+4) {
      margin-bottom: 16px;
    }
  }

  > h4 {
    @include word-wrap;
    font-weight: $bold;
  }
}
