// Grid
@mixin breakpoint($breakpoint) {
  @if $breakpoint == 'small-only' {
    @media (max-width: $bp-medium - 1) {
      @content;
    }
  } @else if $breakpoint == 'medium' {
    @media (min-width: $bp-medium) {
      @content;
    }
  } @else if $breakpoint == 'large' {
    @media (min-width: $bp-large) {
      @content;
    }
  } @else {
    @error 'No value could be retrieved for ' + $breakpoint;
  }
}

// Clearfix
@mixin clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

// Word wrap
@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
