/* ==========================================================================
   Variables
   ========================================================================== */

$bp-small: 320px !default;
$bp-medium: 780px !default;
$bp-large: 1040px !default;

/* Global Values
   ========================================================================== */


/* Colors
   ========================================================================== */
$white: #FFFFFF;
$black: #222222;
$theme: #FF0088;


/* Fonts
   ========================================================================== */
$acumin: "acumin-pro-semi-condensed", sans-serif;
$balboa-condensed: "balboa-condensed", sans-serif;

$xLight: 200;
$regular: 400;
$bold: 700;


/* z-index
   ========================================================================== */


/* Fonts
   ========================================================================== */
